<ul class="card">
  <li *ngFor="let document of documents">
      <mat-card class="example-card">
          <mat-card-header>
              <mat-card-title style="font-weight: 400;font-size: 14px;"><strong>{{document.title}}</strong></mat-card-title>
              <mat-card-subtitle>{{document.type}}</mat-card-subtitle>
              <mat-card-subtitle>{{document.frontenddate}}</mat-card-subtitle>
          </mat-card-header>
          <!-- <mat-card-actions>
              <button mat-raised-button color="primary" (click)="viewDocumentClicked(document)">View</button>
          </mat-card-actions> -->
      </mat-card>
  </li>
</ul>