<nav class="sticky" color="primary" id="systemNav">
    <div>
        <img class="system-logo" src="assets/logo.png" alt="">
    </div>
    <button mat-button [routerLink]="['/start']">parlAI</button>
    
    <!-- <button mat-button
            [matMenuTriggerFor]="menu">navigate</button>
    <mat-menu #menu="matMenu"
              color="primary">
        <button mat-menu-item
                [routerLink]="['/start']">start</button>
        <button mat-menu-item
                [routerLink]="['/upload']">upload</button>
        <button mat-menu-item
                [routerLink]="['/question-inspect']">question inspect</button>
        <button mat-menu-item
                [routerLink]="['/question-compose']">question compose</button>
        <button mat-menu-item
                [routerLink]="['/question-submitted']">question submitted</button>
        <button mat-menu-item
                [routerLink]="['/document-view']">document view</button>
    </mat-menu> -->
    <!--
    <ng-container *ngIf="show">-->
        <button mat-raised-button color="accent" (click)="composeClicked()" style="float:right; margin: 1%;">Compose Answer</button>
   <!-- </ng-container>-->
</nav>

<router-outlet></router-outlet>