<nav>
  <ul>
    <li>
      <a [routerLink]="['/start']" routerLinkActive="active-link">start</a>
    </li>
    <li>
      <a [routerLink]="['/upload']" routerLinkActive="active-link">upload</a>
    </li>
    <li>
      <a [routerLink]="['/question-inspect']" routerLinkActive="active-link">question-inspect</a>
    </li>
    <li>
      <a [routerLink]="['/question-compose']" routerLinkActive="active-link">question-compose</a>
    </li>
    <li>
      <a [routerLink]="['/question-submitted']" routerLinkActive="active-link">question-submitted</a>
    </li>
    <li>
      <a [routerLink]="['/document-view']" routerLinkActive="active-link">document-view</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
