<p *ngIf="!users?.length">Geen experts gevonden voor dit onderwerp.</p>
<ul class="card">
  <li *ngFor="let user of users">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title style="font-weight: 400; font-size: 14px;">{{user.real_name}}</mat-card-title>
        <mat-card-subtitle class="expertise">Expertise: <br />{{user.spec_keywords}}</mat-card-subtitle>
        <mat-card-subtitle>E-mail: <a href="mailto:{{user.email}}">{{user.email}}</a></mat-card-subtitle>
        <mat-card-subtitle>Telefoon: <a href="tel:{{user.phone}}">{{user.phone}}</a></mat-card-subtitle>

      </mat-card-header>
      <!-- <mat-card-actions>
        <button class="login-button" mat-raised-button color="accent" (click)="userSelected(user)">Login</button>
      </mat-card-actions> -->
    </mat-card>
  </li>
</ul>
