.top-margin {
    margin-top: 5%;
}

.fixed-text {
    position: fixed;
    top: 8%;
    background: #124175;
    z-index: 1;
    /* border-style:outset; */
    /* border-color:white; */
    width: 48%;
    height: 4%;
    color: white;
    text-align: center;
}


html {
    background-color: #fafafa;
}

#systemNav{
    margin: -8px  -8px 8px  -8px;
    height: 70px;
    line-height: 70px;
    color: white;
    /*background:#124175;*/
    background:#1a237e;
    ;
}

.system-logo{
    float: left;
    height:65px;
    margin-top:5px;
    margin-left:5px;
    cursor: pointer;
}

.sticky {
    background: #fff;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 70px;
    width: 100%;
}

.empty-space{
    margin:10px;
}