/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
    background-color: #124175 !important;
}

.top-margin{
    margin-top:5%;
}

.fixed-text{
    position:fixed;
    top:8%;
    background:#124175;
    z-index: 1;
    /* border-style:outset; */
    /* border-color:white; */
    width:48%;
    height:4%;
    color:white;
    text-align: center;
}
/* 
.fixed-white-space{
    position: fixed;
    background: white;
    z-index: 1;
    width: 50%;
    height: 5%;
    left:0px;
    top: 6.4%
} */

.empty-space{
    height:11%;
}

.empty-space-2{
    height:22%;
}