<div class="top-margin"></div>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="mat-typography">

    <div class="row">
        <div class="column">
            <mat-toolbar class="mat-elevation-z6" color="primary">
                <span>Overview of your Answers</span>
            </mat-toolbar>
            <div class="empty-space"></div>

            <ul class="card">
                <li *ngFor="let question of questions; index as i">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title style="font-weight: 400;font-size: 14px;">{{i+1}}. {{question.content}}</mat-card-title>
                            <mat-card-subtitle>{{question.questionClass}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-form-field>
                            <textarea matInput placeholder="Answer" [(ngModel)]='question.answer'></textarea>
                        </mat-form-field>
                    </mat-card>
                </li>
            </ul>

        </div>
        <div class="column">
            <mat-toolbar class="mat-elevation-z6" color="primary">
                <span>Final Document</span>
            </mat-toolbar>
            <div class="empty-space" style="margin-top:20px"></div>
            <p align="center">
                <button mat-raised-button color="accent" [routerLink]="['/question-submitted']">Submit Answer</button>
            </p>
            <app-scroll-top></app-scroll-top>

        </div>
    </div>

</body>