<div class="top-margin"></div>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="mat-typography">
    <div class="row">
        <div class="column">
            <mat-toolbar class="mat-elevation-z6" color="primary">
                <span>Toegewezen vragen</span>
            </mat-toolbar>

            <div class="empty-space"></div>
            <div class="scrollable">

                <ul class="card question-card">
                    <li *ngFor="let question of questions; index as i" [class.selected]="selectedQuestion === question"
                        (click)="questionSelected(question, i)">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <mat-card-title style="font-weight: 400;font-size: 14px;">{{i+1}}. {{question.content}}</mat-card-title>
                                <mat-card-subtitle>{{question.topic}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-form-field>
                                <textarea matInput placeholder="Answer" [(ngModel)]='question.answer'></textarea>
                            </mat-form-field>
                        </mat-card>
                    </li>
                </ul>
            </div>
        </div>

        <div class="column" *ngIf="selectedQuestion">
            <mat-toolbar class="mat-elevation-z6" color="primary">
                <span>Relevante informatie - vraag {{selectedIndex ? selectedIndex+1 : ''}}</span>
            </mat-toolbar>

            <div class="empty-space"></div>
            <div class="scrollable">

                <div class="information">
                    <div class="row" *ngIf="selectedQuestion.keywords?.length">
                        <h2>Trefwoorden</h2>
                        <mat-chip-list>
                            <mat-chip *ngFor="let kw of selectedQuestion.keywords" (click)="keywordClicked(kw)" color="accent"
                                selected="true">{{kw.name}} ({{kw.docCount}})</mat-chip>
                        </mat-chip-list>
                    </div>

                    <div class="row" *ngIf="selectedQuestion.entities?.length">
                        <h2>Entiteiten</h2>
                        <mat-chip-list>
                            <div *ngFor="let ent of selectedQuestion.entities">
                                <mat-chip *ngIf="ent.helpful">
                                    {{ent.text}} - {{ent.label}}
                                    <mat-icon matChipRemove (click)="entityRemoveClicked(ent)">cancel</mat-icon>
                                </mat-chip>
                            </div>
                            
                        </mat-chip-list>
                    </div>

                    <div class="row" *ngIf="selectedQuestion.references?.length">
                        <h2>Referenties</h2>
                        <ul>
                            <li *ngFor="let ref of selectedQuestion.references"><a href="{{ref.url}}" target="_blank">{{ref.title}}</a></li>
                        </ul>
                    </div>

                    <div class="row" *ngIf="selectedQuestion.documents?.length">
                        <h2>Documenten</h2>
                        <ul class="card">
                            <li *ngFor="let document of selectedQuestion.documents">
                                <mat-card *ngIf="document.helpful" class="example-card">
                                    <mat-card-header>
                                        <mat-card-title style="font-weight: 400;font-size: 14px;"><strong>{{document.title}}</strong></mat-card-title>
                                        <mat-card-subtitle>{{document.type}}</mat-card-subtitle>
                                        <mat-card-subtitle>{{document.frontenddate}}</mat-card-subtitle>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <p *ngIf="document.visible" align="right">Was dit nuttig?</p>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-raised-button color="primary" (click)="viewDocumentClicked(document)">Bekijk</button>

                                        <button class="btn" *ngIf="document.visible" style="float:right" (click)="noBtnClicked(document)"
                                            mat-raised-button color="alert">Nee</button>
                                        <button class="btn" *ngIf="document.visible" style="float:right" (click)="yesBtnClicked(document)"
                                            mat-raised-button color="accent">Ja</button>
                                    </mat-card-actions>
                                </mat-card>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="scrolling-column" *ngIf="!selectedQuestion" [ngStyle]="{fontSize: '25px'}">
            <div>Please Select One of the Questions to View Information</div>
        </div>
    </div>

    <div class="row">
        <mat-progress-spinner class="center" mode="indeterminate" color="accent" *ngIf="isLoading"> </mat-progress-spinner>
    </div>

</body>

<app-scroll-top></app-scroll-top>
