*{
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.scrolling-column{
    position: fixed;
    top:8%;
    left:50%;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.fixed-text{
    position:fixed;
    top:8%;
    background:#124175;
    z-index: 1;
    border-style:outset;
    border-color:white;
    width:48%;
    height:4%;
    color:white;
    text-align: center;
}

.fixed-white-space{
    position: fixed;
    background: white;
    z-index: 1;
    width: 50%;
    height: 5%;
    left:0px;
    top: 6.4%
}

.empty-space{
    height:11%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    .scrolling-column{
        width:100%;
    }
}

.card {
    list-style-type: none;
    padding-left: 0;
}  

.card li {
    margin-bottom: 7px;
}

.card .selected mat-card {
    background-color: aliceblue;
}

.mat-form-field {
    width: 100%;
}